*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

img:not([alt]) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-v11-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local("PT Sans"), local("PTSans-Regular"), url("../fonts/PTSans/pt-sans-v11-latin_cyrillic-regular.eot") format("embedded-opentype"), url("../fonts/PTSans/pt-sans-v11-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/PTSans/pt-sans-v11-latin_cyrillic-regular.woff") format("woff"), url("../fonts/PTSans/pt-sans-v11-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/PTSans/pt-sans-v11-latin_cyrillic-regular.svg#PTSans") format("svg");
  /* Legacy iOS */
}

._container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "PT Sans";
  font-weight: normal;
  font-size: 18px;
  line-height: 42px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.header {
  min-width: 100%;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: green;
}

@media (max-width: 688px) {
  .header__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__logo {
  margin: 20px auto;
}

.header__menu {
  position: relative;
}

.menu__icon {
  position: absolute;
}

.menu__body {
  margin: 25px auto;
}

@media (max-width: 922px) {
  .menu__body {
    margin: 20px auto;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 688px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu__item {
  padding: 0 10px;
  border-right: 1px solid black;
}

.menu__item:nth-of-type(6n) {
  border-right: none;
}

@media (max-width: 688px) {
  .menu__item {
    border-right: none;
    border-bottom: 1px solid black;
  }
  .menu__item:nth-of-type(6n) {
    border-bottom: none;
  }
}

.menu__link {
  color: white;
}

.menu__link:hover, .menu__link:active {
  color: orange;
}

.menu__cart-picture {
  display: inline-block;
  padding: 2px 2px;
}

.menu__cart-counter {
  color: white;
}
