.header {
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    position: relative;
    
    background-color: lightgrey;
}

.header__logo {
    margin: 10px auto;
    width: 230px;
    max-height: 50px;
}

.menu__body {
    margin: 25px auto;
}

.menu__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu__item {
    padding: 0 10px;
    border-right: 1px solid black;
    
    &:nth-of-type(6n) {
        border-right: none;
    }
}

.menu__link {
    color: black;
    &:hover,
    &:active {
        color: orange;
    }
}

.menu__cart-picture {
    display: inline-block;
    padding: 2px 2px;
}

.menu__cart-counter {
    color: red;
}

// Медиа-запросы

@media screen and (max-width: $md2) {
    .header__content {
        flex-wrap: wrap;
    }

    .header__menu {
        margin: 10px auto 10px;
    }

    .menu__body {
        margin: 0;
    }
}

@media screen and (max-width: $md3) {
    .body.lock {
        overflow: hidden;
    }
    
    .header__content {
        flex-direction: column;
    }

    .header__menu {
        width: 100%;
    }

    .header__logo {
        position: absolute;
        top: 0;
        left: 20px;
    }

    .header__stick {
        display: block;
        
        width: 30px;
        height: 3px;
        
        margin: 5px;
        
        background-color: #fff;
    }

    .menu__body {
        width: 100%;
        min-height: 50px;
        
        position: relative;
    }

    .header__burger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 15px;
        top: 25%;
        z-index: 10;
    }

    .menu__list {
        position: fixed;
        background: #0a1f94;
        height: 50vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(0 at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .menu__list.open {
        clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }

    .menu__item {
        margin: 5px 0 5px 15px;
    }

    .menu__link {
        color: white;
    }
}