.index {
    margin: 70px 0 0 0;

    &__content {
      background-color: red;
    }

    &__slider {
      background-color: teal;
    }
}

.preview {
    width: 100%;
    min-height: 400px;

    background-image: url("/img/index/preview.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    &__text {
        width: 100%;
        
        padding: 20px 20px;

        font-size: 36px;
        color: white;
    }

    &__buttons {
        width: 50%;

        margin-top: 40px;
    }

    &__button {
        margin-bottom: 40px;
    }
}

.slider {
    position: relative;
    overflow: hidden;
    max-width: $maxWidth;

    &__wrapper {
      position: relative;
      overflow: hidden;
    }

    &__items {
      display: flex;
      transition: transform 0.6s ease;
    }

    &__item {
      flex: 0 0 100%;
      max-width: 100%;
    }

    &__content {
      position: relative;
    }

    &__image {
      position: absolute;
      top: 8%;
      left: 5%;
      
      width: 250px;
      height: 250px;

      border-radius: 50%;
    }

    &__name {
      position: absolute;
      top: 15%;
      left: 45%;
      text-align: center;

      font-size: 40px;
      font-weight: bold;
      color: black;
    }

    &__text {
      position: absolute;
      top: 40%;
      left: 45%;
      
      font-size: 28px;
      color: black;
    }

    // стили для кнопок "вперед" и "назад"
    &__control {
      position: absolute;
      top: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      color: #fff;
      text-align: center;
      opacity: 0.5;
      height: 50px;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.5);
    
      &:hover,
      &:focus {
        color: #fff;
        text-decoration: none;
        outline: 0;
        opacity: 0.9;
      }

      &_prev {
        left: 0;

        &::before {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
        }
      }

      &_next {
        right: 0;

        &::before {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
        }
      }

      &::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background: transparent no-repeat center center;
        background-size: 100% 100%;
      }
    }

    // стили для индикаторов
    &__indicators {
      position: absolute;
      right: 0;
      bottom: 10px;
      left: 0;
      z-index: 3;
      display: flex;
      justify-content: center;
      padding-left: 0;
      margin: 0 15%;
      list-style: none;
    
      & li {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 30px;
        height: 4px;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -999px;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.5);
        background-clip: padding-box;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
      
        &.active {
              background-color: #fff;
        }
      }
    }
  }