.index {
    margin: 70px 0 0 0;

    &__team {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__card {
      flex: 1 0 33%;
      min-width: $minWidth;
      min-height: 300px;
      background-color: red;
    }

    &__slider {
      flex: 1 0 67%;
      min-width: $minWidth;
      min-height: 300px;
      background-color: teal;
    }

    &__news {
      flex: 1 0 67%;
      min-width: $minWidth;
      min-height: 300px;
      background-color: yellow;
    }
}

.preview {
    width: 100%;
    min-height: 400px;

    background-image: url("/img/index/preview.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    &__text {
        width: 100%;
        
        padding: 20px 20px;

        font-size: 36px;
        color: white;
    }

    &__buttons {
        width: 50%;

        margin-top: 40px;
    }

    &__button {
        margin-bottom: 40px;
    }
}

.slider {
    position: relative;
    overflow: hidden;

    &__wrapper {
      position: relative;
      overflow: hidden;
    }

    &__items {
      display: flex;
      transition: transform 0.6s ease;
    }

    &__item {
      flex: 0 0 100%;
      max-width: 100%;
    }

    &__content {
      display: flex;
      justify-content: space-between;
      position: relative;
    }

    &__image {
      flex: 0 0 33%;
      max-width: 220px;
      max-height: 220px;
      min-width: 220px;
      min-height: 220px;
      margin: 40px 0 40px 50px;
      z-index: 5;
      border-radius: 50%;
    }

    &__text {
      flex: 0 0 67%;
      max-width: 61%;
      padding: 0 10px;
      z-index: 4;
    }

    &__name {
      margin: 45px auto;
      text-align: center;
      font-size: 36px;
      font-weight: bold;
      color: black;
    }

    &__description {
      margin: 45px auto;
      text-align: center;
      line-height: 30px;
    }

    &__position {
      font-weight: bold;
    }

    // стили для кнопок "вперед" и "назад"
    &__control {
      position: absolute;
      top: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      color: #fff;
      text-align: center;
      opacity: 0.5;
      height: 50px;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.5);
    
      &:hover,
      &:focus {
        color: #fff;
        text-decoration: none;
        outline: 0;
        opacity: 0.9;
      }

      &_prev {
        left: 0;

        &::before {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
        }
      }

      &_next {
        right: 0;

        &::before {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
        }
      }

      &::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background: transparent no-repeat center center;
        background-size: 100% 100%;
      }
    }

    // стили для индикаторов
    &__indicators {
      position: absolute;
      right: 0;
      bottom: 10px;
      left: 0;
      z-index: 3;
      display: flex;
      justify-content: center;
      padding-left: 0;
      margin: 0 15%;
      list-style: none;
    
      & li {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 30px;
        height: 4px;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -999px;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.5);
        background-clip: padding-box;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
      
        &.active {
              background-color: #fff;
        }
      }
    }
  }

.news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__item {
    //flex: 0 0 66%;
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    margin: 10px 20px;

    text-align: left;
    line-height: 30px;
    color: black;
  }

  &__time,
  &__title {
    align-self: center;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
  }

  &__text {
    margin: 10px auto;
    
    text-align: justify;
    font-size: 18px;
    text-decoration: none; 
  }

  &__author {
    width: 100%;
    margin-right: 5%;
    text-align: right;
    font-style: italic;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    min-width: 280px;
    width: 100%;
  }

  &__button {
    flex: 0 0 45%;
    font-size: 14px;
  }
}

.card {
  
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    width: 100%;
    height: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;
    margin: 10px auto;
  }

  &__description {
    margin: 20px auto;
    padding: 0 10px;
    background-color: #fff;
    font-weight: bold;
  }
}

// Медиа выражения
  
@media screen and (min-width: 1050px) {
    .slider {
      min-height: 400px;
      
      &__wrapper {
        min-height: 400px;
      }
  
      &__items {
        min-height: 400px;
      }
  
      &__content {
        min-height: 400px;
      }

      &__image {
        max-width: 300px;
        max-height: 300px;
        min-width: 300px;
        min-height: 300px;
        margin: 50px auto;
      }
  
      &__text {
        max-width: 55%;
        margin: 50px 0;
      }
  
      &__name {
        font-size: 40px;
      }
  
      &__description {
        font-size: 28px;
        line-height: 40px;
      }
    }
  }

  @media screen and (max-width: $md2) {
    
    .index__card {
      flex: 1 0 33%;
      border: 1px solid black;
    }

    .card__1 {
      order: 0;
    }
  
    .card__2 {
      order: 0;
    }

    .slider {
      order: 1;

      &__description {
        font-size: 24px;
        line-height: 36px;
      }
    }

    .news {
      order: 2;
    }
  }

  @media screen and (max-width: 640px) {

  .index__card {
    flex: 1 0 33%;
  }

  .card__1 {
    order: 0;
  }

  .card__2 {
    order: 2;
  }

  .news {
    order: 3;
  }

  .slider {
    min-height: 450px;
    order: 1;
    
    &__wrapper {
      min-height: 450px;
    }

    &__items {
      min-height: 450px;
    }

    &__content {
      flex-direction: column;
      min-height: 450px;
    }

    &__image {
      max-width: 200px;
      max-height: 200px;
      min-width: 200px;
      min-height: 200px;
      margin: 25px auto 0;
    }

    &__text {
      flex: 0 0 100%;
      max-width: 100%;
      margin: 0 auto;
    }

    &__name {
      margin: 25px auto;
    }

    &__description {
      margin: 10px auto;
    }
  }

  .news__buttons {
    flex-direction: column;
    margin: 0 auto;
  }

  .news__button {
    margin-top: 15px;
  }
}