@import "_nullstyle", "_globalstyles", "_header", "_footer";

.button {
    display: inline-block;
    
    width: 100%;
    height: 50px;

    border: 2px solid black;
    background-color: lightseagreen;

    text-align: center;
    vertical-align: center;

    &:nth-child(2n) {
        margin-top: 20px;
    }
    
    &:hover,
    &:active {
        background-color: orange;
    }
}
